<div class="carousel-item <%= item.active %>">
    <!-- <img src="<%= item.src %>" class="d-flex align-items-center justify-content-center min-vh-100" alt="..."> -->
    <div class="d-flex min-vh-100" style="background-image: url(<%= item.src %>);"></div>
</div>