<!doctype html>
<html lang="en">
    <% include ../views/blocks/head %>
    <body>
        <main>
            <div class='wrapper'>
                <div class='letter'>
                    A
                </div>
                <div class='letter'>
                    B
                </div>
                <div class='letter'>
                    C
                </div>
                <div class='letter'>
                    D
                </div>
            </div>
        </main>
    </body>
</html>