<!doctype html>
<html lang="en">

<% include blocks/head %>

    <body>

        <% include blocks/nav %>

            <main class="container">

                <div class="text-center py-5 px-3">
                    <h1>Bootstrap starter template</h1>
                    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this
                        text and a
                        mostly barebones HTML document.</p>
                </div>

                <div id="starter-template" class="text-center"></div>

            </main>

    </body>

</html>