
<!doctype html>
<html lang="en">

  <% include blocks/head %>

  <body>
    
    <% include blocks/nav %>

    <main role="main" class="container">

      <div id="starter-template">
        
      </div>

    </main>

  </body>
</html>
