<!doctype html>
<html lang="en">

<% include blocks/head %>

    <body>

        <% include blocks/nav %>

        <main>
            <section class="py-5 text-center container">
                <div class="px-3">
                    <h1 class="fw-light">Bootstrap starter template</h1>
                    <p class="lead text-muted">Use this document as a way to quickly start any new project.<br> All you get is this text
                        and a mostly barebones HTML document.</p>
                    <p>
                        <a href="#" class="btn btn-primary m-2">Left Button</a>
                        <s href="#" class="btn btn-secondary m-2">Right Button</s>
                    </p>
                </div>
            </section>
            
            <div class="album py-5 my-5 bg-light">
                <div class="container">
                    <div id="cards" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> 
                        <% data.forEach((d)=> { %>
                            <%- require('./blocks/card.ejs')({ data: d }) %>
                        <% }) %>
                    </div>
                </div>
            </div>

            <div id="webpack-content" class="text-center"></div>

        </main>

    </body>

</html>