<!doctype html>
<html lang="en">

<% include ../templates/head %>

    <body>

        <main>
            <div id="CarouselHolder" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    
                </div>
                <a class="carousel-control-prev" href="#CarouselHolder" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#CarouselHolder" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>

        </main>

    </body>

</html>


