/* Override bootstrap default variables */
/* node_modules/bootstrap/scss/_variables.scss */
$body-bg: #eee;

/* Import bootstrap style */
@import "../node_modules/bootstrap/scss/bootstrap";

/* Custom Style */
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
